.header {
    padding: 17px 90px;
    gap: 12px;
    background-color: red;
}

.header  .header_type .contact {
    gap: 15px;
}

.info {
    gap: 30px;
    justify-content: space-evenly;
    border-bottom: 1px solid #d9d9d9;
}
.info .info-item {
    width: 100%;
    border-right: 1px solid #d9d9d9;
    padding: 20px;
}

.table td, .table tr:first-child {
    border-top: none;
}
.table tr {
    border-top: 1px solid #dee2e6;
}

.table tr:first-child {
    border-top: none;
}